// custom grid for my app
.app-grid {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

// left side
.app-grid-left {
  display: grid;
  grid-template-columns: 0.25fr 1fr;
}

// right side
.app-grid-right {
  display: grid;
  grid-template-columns: 1fr 0.25fr;
}

// right side
.app-grid-top {
  display: grid;
  grid-template-columns: 1fr;
}

// custom height for editor

.quill {
  border-radius: 12px;
  overflow: hidden;
}

.ql-editor {
  min-height: 125px !important;
  max-height: 100px !important;
  background: white !important;
}

.long_description .ql-container {
  min-height: 250px !important;
  max-height: 100px !important;
  background: white !important;
}

.ql-toolbar.ql-snow {
  border: 1px solid rgba(223, 222, 222, 0.6) !important;
  border-radius: 12px 12px 0 0;
  background: white;
}

.ql-container {
  border-radius: 0 0 12px 12px !important;
  border: 1px solid rgba(223, 222, 222, 0.6) !important;
  border-top: none !important;
  overflow: hidden;
}

// input box css
input:checked + div {
  border-color: #99c3ff;
  &:checked + div svg {
    display: block;
  }
}

// Custom checkbox
.check-input {
  display: none;
  &:checked + .checkbox {
    box-shadow: 2px 4px 8px rgba(137, 176, 198, 0.1);
    position: relative;
    border: 4px solid rgba(255, 255, 255, 0.5);
    padding: 3px;
  }
  &:checked + .checkbox svg path {
    stroke-dasharray: 500;
    stroke-dashoffset: 500;
    stroke: #fff;
    stroke-width: 1.8;
    animation: check 4s forwards;
  }
  &:checked + .checkbox::before {
    animation: ripple 0.3s;
  }
}

.checkbox {
  // border: 1px solid #635e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 3px;
  transition: 0.3s all;

  svg {
    width: 20px;
    height: 20px;
  }
  &::before {
    content: '';
    background: #53fc9f33;
    background-blend-mode: color;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    display: block;
    width: 60px;
    height: 60px;
    z-index: -1;
  }
}

@keyframes check {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes ripple {
  to {
    transform: scale(1);
  }
}

// Slick slider
.slick-prev:before,
.slick-next:before {
  font-size: 0px !important; //TODO: use important for hide slider
}
